@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~@fullcalendar/timegrid/main.css';

.allCal{
    background: #FBFBFB;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    height: 135vh;
    display: flex;
    text-align: center;
}

#navIcon{
    position: fixed;
    height: 60px;
    left: 85%;
    top: 1%;
    margin: 0px;
}

.cal{
    position: absolute;
    width: 78%;
    height: auto;
    left: 20%;
    top: 11%;
    font-family: Montserrat;
    font-style: normal;
    background-color: #FBFBFB;
    z-index: 0;
}
.sidebar {
    position: sticky;
    flex-direction: column;
    font-weight: bold;
    background-color:  #FBFBFB;;
    width: 20%;
    top: 12%;
    height: 100vh;
    left: 0%;
}

.addNewEvent {
    position: sticky;
    justify-content: center;
    top: 20%;
    width: 100%;
    height: auto;
    flex-direction: row;
    font-size: 22px;
}


.toggleMonthWeek {
    position: sticky;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: auto;
    top: 20%;
    color: white;
    font-weight: bolder;
    font-size: 22px;
}

.toggleCalendarView {
    position: sticky;
    flex-direction: row;
    width: 100%;
    height: auto;
    top: 35%;
    color: #565C57;
    font-size: 22px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
}


.checkbox{
    margin-left: 15%;
    text-align: left;
    margin-top: 2%;
    height: auto;
    width: auto;
    flex-direction: row;
}

label {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

.visually-hidden {
    position: absolute;
    opacity: 0%;
    
    /* Note, you may want to position the checkbox over top the label and set the opacity to zero instead. It can be better for accessibilty on some touch devices for discoverability. */
}



.friendsCal {
    position: sticky;
    flex-direction: row;
    justify-content: center;
    width: 90%;
    left: 1%;
    height: 20%;
    top: 70%;
    color: #565C57;;
    font-weight: 300;
    font-size: 28px;
    text-transform: uppercase;

    background: #E9ECE9;
    border-radius: 10px;
}


input.check{
    min-width: 15px;
}


.modal {
    position: absolute;
    z-index: 1000;
    justify-content: center;
    width: 40%;
    height: 60%;
    top: 25%;
    left: 30%;
    background: #FBFBFB;
    border-radius: 10px;
    display: flex;
    align-items: center;
    text-align: center;

    box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25), -4px 0px 4px rgba(0, 0, 0, 0.25), 4px 0px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.modalTitle {
    position: absolute;
    top:4%;
    width:100%;
    margin-bottom: 10%;
    

    font-family: Montserrat;
    font-style: italic;
    font-weight: 300;
    font-size: 36px;

    text-transform: uppercase;

    color: #000000;
}

.enterorcancelbuttons{
    position: absolute;
    top: 90%;
}
.newEventInfo{
    position: absolute;
    flex-direction: column;
    width: 80%;
    height: 80%;
    top: 22%;
    left: 10%;

    font-size: 18px;
    line-height: 29px;
    text-align: center;
    color: black;
  }

  .eTypeClass {
    background:#FDE19A;
    color: #565C57;
    border: none;
  }

  .eTypeClub {
    background: #9FDBEE;
    color: #565C57;
    border: none;
    }

.eTypeSocial {
    background: #ABCA7E;
    color: #565C57;
    border: none;
    }

.eTypeOther {
    background: #FDA4A4;
    color: #565C57;
    border: none;
}

Button#noButton {
    background: none;
    border-radius: 0px; 
    box-shadow: none; 
    color: #565C57;
    margin: 0%;
    vertical-align: top;
}

.inputlinecal{
    display: absolute;
    flex-direction: row;
    margin-top: 2%;
    margin-left: 5%;
  }

.fc-event-time, .fc-event-title {
    padding: 0 1px;
    white-space: nowrap;
}
    
.fc-center {
    white-space: normal;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    color: #565C57;
}

.fc-toolbar.fc-header-toolbar{
    margin-bottom: .5em;
}

