.allSignUp1{
  background-color: #FBFBFB;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  height: 100vh;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: row;
}
  .dartCalLogoSmall1 {
    position: absolute;
    top: 1.5%;
    left: 3.5%;
    height: 10%;
    
    /* Header I */
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 78px;
    text-align: center;
    text-transform: uppercase;
    
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
  
    color: #565C57;

    vertical-align: middle;
    flex-direction: row;
  }


  .accountinfo{
    position: absolute;
    flex-direction: column;
    width: 40%;
    height: 50%;
    top: 30%;
    left: 30%;
  
    font-family: Montserrat;
    font-style: normal;
    font-weight: bolder;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    color: black;

  }


  input.signup{
    min-width:250px;
  }

  .signupnameContainer1 {
    position: absolute;    
    
    left: 26%;
    top: 23%;
    color: #898F89;

    font-style: normal;
    font-size: 30px;
    text-align: right;
  }

  #signInLabel {
    margin: 19px;
    padding: 0px;
  }

  .signupinputContainer1 {
    position: absolute;
    font-size: 30px;
    text-align: left;
    left: 49%;
    top: 24%;
    height:60%;
    margin: 0px;
    padding: 0px;
  }

  #inputLabel {
    margin:10px;
    padding: 0px;
  }

  .signupindivInput1 {
    background-color: #FBFBFB;
  }

  .signupbutton1 {
    position: absolute;
    left: 43%;
    top: 76%;    
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    text-align: center;
  }
